.dataTable {
  border-radius: 0 !important;
  border-left: 0 none !important;
  border-right: 0 none;
  margin-bottom: 0;
  &.table-bordered thead:first-child tr:first-child > th:last-child,
  &.table-bordered tbody:first-child tr:first-child > td:last-child,
  &.table-bordered tbody:first-child tr:first-child > th:last-child,
  &.table-bordered thead:first-child tr:first-child > th:first-child,
  &.table-bordered tbody:first-child tr:first-child > td:first-child,
  &.table-bordered tbody:first-child tr:first-child > th:first-child {
    border-radius: 0 !important;
  }
  th {
    text-align: center;
    border-left: 0 none !important;
    background: $clouds;
    padding-top: 1em;
    padding-bottom: 1em;
    padding: 1em .5em;
    white-space: nowrap;
    &:focus {
      outline: none;
    }
  }
  td {
    border-left: 0 none !important;
    &.month {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
    &.currency {
      @include currency;
      padding-right: 1em;
      white-space: nowrap;
    }
    &.percentual {
      @include percentual;
      background: $clouds;
    }
  }
}

.dataTables_wrapper {
  background: $clouds;
  border: 1px solid $silver;
  overflow: hidden;
  border-radius: 2px;
}

.distribuicao-uo.graph {
  .dataTables_filter {
    float: none;
    width: 100%;
  }
  .dataTables_wrapper {
    border-bottom: 0 none;
  }
}

.graph-numbers {
  .dataTables_wrapper {
    border-top: 0 none;
    border-bottom: 0 none;
  }
  th {
    text-align: center !important;
  }
  tr:last-child td {
    background: $clouds;
  }
}

.entity-list {
  th {
    text-align: left;
  }
  .entity-group {
    td {
      font-weight: 700;
      text-transform: uppercase;
      padding-left: .5em;
    }
  }
  td {
    padding-left: 2em;
  }
}

.dataTables_filter,
.dataTables_paginate,
.dataTables_info {
  @include border-box;
  padding: 1em;
}

.dataTables_filter {
  float: left;
  width: 50%;
  position: relative;
  span.icon-search {
    position: absolute;
    right: 1.6em;
    top: 1.35em;
    color: $silver;
    cursor: default;
  }
  label,
  input {
    margin: 0;
  }
  input {
    @include border-box;
    padding-right: 1.75em;
    padding-left: .75em;
    box-shadow: none;
    border-radius: 2em;
    border: 2px solid $silver;
    font-size: 1.15em;
    height: 2em;
    line-height: 2em;
    width: 100%;
    &:focus {
      box-shadow: none;
      border-color: $blue;
    }
  }
}

.dataTables_paginate {
  width: 50%;
  float: right;
  text-align: right;
  span {
    a.paginate_button,
    a.paginate_active {
      width: 1.5em;
      text-align: center;
    }
  }
  a {
    cursor: pointer;
    display: inline-block;
    padding: .25em .25em;
    margin: 0 .25em;
    border-radius: 2px;
    &:hover {
      text-decoration: none;
      background: $blue;
      color: white;
    }
    &.paginate_button_disabled {
      opacity: .5;
      cursor: default;
      pointer-events: none;
    }
    &.paginate_active {
      background: $blue;
      color: white;
    }
  }
}

.dataTables_info {
  float: left;
  color: $black;
  opacity: .75;
}
