.tabs-navigation-wrapper {
  background: $clouds;
  padding-top: 1em;
  padding-left: 1em;
  border-bottom: 1px solid #DDD;
}
#graphs-tab-navigation {
  margin-bottom: 0;
  border-bottom: 0 none;
  text-align: center;
  li {
    float: none;
    display: inline-block;
  }
  a {
    color: $black;
  }
}

.gasto-acumulado-por-mes.graph {
  .muted {
    margin-top: 1em;
  }
}

.graph-help {
  background: $clouds;
  color: $black;
  span.icon-bar-chart {
    font-size: 14em;
    color: $gray;
  }
  dt {
    margin: 0 0 .5em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  dd {
    margin: 0 0 1.5em;
  }
  dl {
    font-size: 1em;
    dl {
      margin-left: 1em;
    }
  }
}

.graph,
.graph-help,
.table-data {
  padding: 2em 0;
}

svg#monthly-graph {
  width: 960px;
  height: 450px;
  .nvd3 {
    text {
      font-family: 'Open Sans', sans-serif !important;
      fill: $black;
    }
    .y1.axis,
    .x.axis {
      line {
        stroke: white;
      }
      text {
        font-weight: 700;
      }
    }
    .y1.axis {
      g.tick.major:nth-child(2n+2) {
        display: none !important;
      }
    }
    .nv-series-0 {
      rect.nv-bar.positive {
        fill-opacity: .5 !important;
        &:hover {
          fill-opacity: .75 !important;
        }
      }
    }
    .nv-series-1 {
      rect.nv-bar.positive {
        fill: $green !important;
        stroke: $green !important;
      }
    }
    circle.nv-point {
      stroke-opacity: 1 !important;
      fill-opacity: 1 !important;
      &:hover {
        stroke-width: 16px !important;
        stroke-opacity: .5 !important;
      }
    }
    .nv-area.nv-area-0 {
      fill-opacity: .2 !important;
    }
    .nv-wrap.nv-stackedarea {
      circle {
        display: none !important;
      }
    }
  }
}
/* TABLE */
.meter-wrapper {
  @include border-box;
  background: $black;
}
.meter-graph {
  @include border-box;
  background: $green;
  padding: 0 .25em;
  color: white;
  font-weight: 700;
}
.nvtooltip {
  border-radius: 3px;
  background: lighten($red, 5%);
  color: white;
  border: 0 none;
  box-shadow: none;
  h3 {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    background: none;
    box-shadow: none;
    border-bottom: 0 none;
  }
}
