.graph-numbers {
  thead {
    th {
      text-align: center;
    }
  }
  .month-value {
    text-align: center;
    text-transform: uppercase;
  }
  .number-value {
    @include currency;
  }
}
.data-download-cta {
  background-color: $green;
  color: white;
  small {
    opacity: .75;
  }
  &:hover {
    background-color: lighten($green,6%);
    color: white;
  }
}
