.monitor {
  padding: 0 0 3em 0;
  background: $clouds;
  h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0em;
    small {
      color: white;
      font-weight: 300;
      font-size: .75em;
      opacity: .75;
    }
  }
  p {
    margin: 0;
  }
  .value-box,
  .bar-graph-box {
    color: white;
    text-align: center;
    border-radius: 3px;
    border-bottom: 1px solid white;
  }
  .value-box {
    padding: 1.5em 0;
  }
  .bar-graph-box {
    padding: 0;
    .inner-box {
      padding: 1.5em 0;
      margin-left: 10px;
    }
  }
  .positive-box {
    background: $blue;
    h4,
    .large-number {
      text-shadow: $deep-blue 2px 2px 0;
    }
    .bar-graph {
      background: $deep-blue;
    }
  }
  .negative-box {
    background: $red;
    h4,
    .large-number {
      text-shadow: $deep-red 2px 2px 0;
    }
    .bar-graph {
      background: $red;
    }
  }
  .attention-box {
    background: $orange;
    h4,
    .large-number {
      text-shadow: darken($orange, 10%) 2px 2px 0;
    }
  }
  .large-number {
    font-size: 3.5em;
    font-weight: 800;
    display: block;
    line-height: 1em;
    margin: .5em 0 .75em;
  }
  .absolute-value {
    margin-bottom: 2em;
    letter-spacing: 2px;
    opacity: .5;
  }
}

.bar-graph-box {
  background: $green;
}
.bar-graph {
  height: 180px;
  border-radius: 0 3px 3px 0;
  background: $deep-green;
  input[type='radio']:checked + label,
  label:hover {
    .meter-bar,
    .meter-label {
      opacity: 1;
    }
  }
  input[type='radio'] {
    visibility: hidden;
  }
  .meter {
    display: inline-block;
    font-size: 1em;
    margin-right: .5em;
    height: 160px;
    position: relative;
    width: 2.5em;
    color: white;
    text-align: center;
    &:hover {
      opacity: 1;
    }
  }
  span {
    display: block;
  }
  .meter-bar,
  .meter-year,
  .meter-percentual {
    position: absolute;
    font-size: .875em;
    width: 3em;
    text-align: center;
  }
  .meter-bar,
  .meter-year {
    opacity: .5;
  }
  .meter-bar {
    bottom: 0;
    background: white;
  }
  .meter-year {
    bottom: -1.75em;
    letter-spacing: 1px;
  }
  .meter-percentual {
    bottom: 0;
    color: darken($deep-green,10%);
    font-weight: 900;
  }
}
