.profile-header {
  padding: 2em 0 0;
  background: $clouds;
  h1 {
    margin: 0;
    color: $black;
    display: inline-block;
  }
  .breadcrumb {
    background: none; 
    padding: 0 !important;
    font-size: 1.25em;
    line-height: 1em;
    h1 {
      font-size: 1em;
      line-height: 1em;
    }
  }
}

.data-download-cta {
  background-color: $green;
  color: white;
  small {
    opacity: .75;
  }
  &:hover {
    background-color: lighten($green,6%);
    color: white;
  }
}
