.profile-header {
  padding: 0 0 3em;
  .breadcrumb {
    padding: 0.8em 0;
    background: white;
    font-size: 1.25em;
    text-transform: uppercase;
    h1 {
      font-size: 1em;
      margin: 0;
      font-weight: 700;
      color: $black;
      line-height: 1em;
      display: inline;
    }
    li {
      display: inline;
    }
  }
}

.main-dropdown-navigation {
  width: 940px;
  li {
    font-size: .875em;
    float: left;
    width: 49%;
  }
}

.monitor {
  background: $clouds;
  h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0em;
    small {
      color: white;
      font-weight: 300;
      font-size: .75em;
    }
  }
  p {
    margin: 0;
  }
  .value-box {
    border-radius: 3px;
    padding: 1.5em 0;
    color: white;
    text-align: center;
  }
  .positive-box {
    background: $green;
  }
  .negative-box {
    background: $red;
  }
  .attention-box {
    background: $orange;
  }
  .large-number {
    font-size: 3.5em;
    font-weight: 300;
    display: block;
    line-height: 1em;
    margin: .5em 0 .75em;
    small {
      font-size: .75em;
      margin-left: .25em;
    }
  }
}

.bar-graph {
  height: 170px;
  .meter {
    display: inline-block;
    font-size: 1em;
    margin-right: .5em;
    height: 150px;
    position: relative;
    opacity: .5;
    width: 2.25em;
    &.this {
      opacity: 1;
    }
  }
  .meter-bar {
    position: absolute;
    bottom: 0;
    background: white;
    width: 2em;
  }
  .meter-label {
    position: absolute;
    bottom: -1.75em;
    width: 2em;
  }
}
