header {
  background: white;
  padding: 56px 0 0;
  nav {
    padding: 1em 0;
    line-height: 1;
    a {
      padding: .25em 0em;
      margin: 0 2em 0 0;
      display: inline-block;
      font-size: 1em;
      border-bottom: 2px solid white;
      &:last-child {
        margin-right: 0;
      }
      &,
      &:visited {
        color: $black;
      }
      &:hover {
        text-decoration: none;
      }
      &.active,
      &:hover,
      &:hover.active {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
  }
}

#main {
  background: white;
}

footer {
  text-align: center;
  padding: 3em 0;
  font-weight: 300;
  color: white;
  a,
  a:link,
  a:visited {
    color: white;
    &:hover {
      color: white;
      opacity: .75;
      text-decoration: none;
    }
  }
  h4 {
    font-weight: normal;
    font-size: 1em;
    padding: 0;
    margin: 0 0 .5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray;
    text-shadow: darken($black,10%) 1px 1px 0;
  }
  .nav {
    padding: 0 0 1em;
    line-height: 1.5;
    h4 {
      display: inline-block;
      margin-right: 3em;
    }
    a {
      margin-right: 1em;
      &.active {
        text-decoration: underline;
      }
    }
  }
  .authorship {
    .authorship-box {
      width: 20%;
      float: left;
    }
    .inesc-logo {
      margin-top: .5em;
      width: 4.2em;
    }
    .nca-logo {
      width: 11em;
    }
    .okfn-logo {
      margin-top: .75em;
      width: 11.5em;
    }
    .dataviz-logo {
      margin-top: 1.25em;
      width: 5.5em;
    }
    .openspending-logo {
      font-weight: 600;
    }
    .siga-brasil-logo {
      width: 7.5em;
    }
  }
  .colophon {
    padding: 2em 0;
    color: $gray;
    text-align: center;
  }
}

a.back-to-top {
  border-radius: 2px;
  position: fixed;
  z-index: 9;
  padding: .25em .5em;
  bottom: 1em;
  right: 1em;
  display: none;
  background: $blue;
  color: white;
  &:hover {
    text-decoration: none;
    background: white;
    color: $blue;
  }
  &.show {
    display: inline;
  }
}
