/*COLORS*/
$green: #2ECC71;
$blue: #3498DB;
$deep-blue: #2980B9;
$yellow: #F1C40F;
$deep-yellow: #F39C12;
$red: #E74C3C;
$deep-red: #C0392B;
$purple: #9B59B6;
$deep-green: #27AE60;
$other-green: #1ABC9C;
$silver: #BDC3C7;
$gray: #95A5A6;
$black: #34495E;
$clouds: #ECF0F1;

/*MIXINGS*/
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  transition: $params;
}
@mixin number {
  font-family: 'Menlo', 'Andale Mono', 'Consolas', monospace;
}
@mixin currency {
  @include number;
  text-align: right;
}
@mixin percentual {
  @include number;
  text-align: center;
}
@mixin long-text-shadow($color) {
  text-shadow: $color 2px 2px 0, $color 1px 1px 0;
}
