@import 'utilities';

body,
select,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $black;
  color: $black;
  margin: 0;
}

h1,
h3 {
  font-weight: 300;
}

h2,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
  margin: 0 0 2em 0;
  line-height: 1em;
}

a,
a:visited {
  color: lighten($blue, 20%);
}

address {
  font-style: normal;
  margin: 0 0 10px;
}

header {
  background: white;
  .logo {
    background: url(/assets/logo.png) no-repeat scroll left top;
    background-size: 100%;
    text-indent: -9999em;
    display: block;
    width: 400px;
    height: 35px;
    margin: 1em 0;
  }
  .search {
    padding: 2em 0 0;
  }
  nav {
    background: $blue;
    padding: .5em 0;
    a {
      &, &:visited {
        color: white;
      }
      padding: .25em .5em;
      margin: 0 .5em 0 0;
      display: inline-block;
      border-radius: 3px;
      &:hover {
        text-decoration: none;
        background: white;
        color: $black;
      }
      &.active,
      &:hover.active {
        background: white;
        color: $blue;
      }
    }
  }
}

#main,
.monitor,
footer {
  padding: 3em 0;
}
.graphs {
  padding: 0 0 3em;
}

#main {
  background: white;
}

footer {
  background: $black;
  font-weight: 300;
  color: white;
  a,
  a:visited {
    color: white;
    text-decoration: underline;
  }
}

@import 'profile';
@import 'bootstrap_over';
@import 'graphs';
