@import 'utilities';

body,
select,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $black;
  color: $black;
  margin: 0;
}

h1,
h3 {
  font-weight: 300;
}

h2,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  font-size: 1em;
  margin: 0 0 2em 0;
  line-height: 1em;
}

a,
a:visited {
  color: $blue;
  &:hover {
    color: lighten($blue,5%);
  }
}

address {
  font-style: normal;
  margin: 0 0 10px;
}

header {
  background: white;
  padding: 56px 0 0;
  nav {
    padding: 1em 0;
    line-height: 1;
    text-align: center;
    a {
      padding: .25em 0em;
      margin: 0 2em 0 0;
      display: inline-block;
      text-transform: uppercase;
      font-size: 1em;
      border-bottom: 2px solid white;
      &:last-child {
        margin-right: 0;
      }
      &,
      &:visited {
        color: $black;
      }
      &:hover {
        text-decoration: none;
      }
      &.active,
      &:hover,
      &:hover.active {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
  }
}

.showcase {
  background: $black;
  padding: 4em 0;
  color: white;
  h2 {
    padding-top: 2.5em;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
  }
}

.home-header {
  background: $clouds;
  padding-top: 2em;
  .year-navigation {
    padding-top: 1em;
  }
}

.graphs {
  padding: 0;
}

#main {
  background: white;
}

footer {
  padding: 3em 0;
  font-weight: 300;
  color: white;
  text-align: center;
  .nav {
    padding: 0 0 1em;
    a {
      display: inline-block;
      padding: 0 1em;
      color: white;
    }
  }
  .share {
    .btn,
    .btn:visited {
      display: inline-block;
      text-decoration: none;
      margin: 0 .5em;
      padding: .5em 2em;
      &:hover {
        background: $blue;
        color: white;
      }
    }
  }
  .authorship {
    margin: 2em 0;
    a {
      display: inline-block;
      padding: 0 1em;
    }
    img {
      margin-right: 1em;
    }
  }
}

iframe.funcao-treemap {
  width: 100%;
  height: 500px;
  border: 0 none;
}

.content {
  padding-bottom: 2em;
  p {
    font-size: 1.15em;
    line-height: 1.45em;
    margin-bottom: 1.5em;
  }
  .icon-huge {
    color: $clouds;
    font-size: 15em;
  }
  .illustration {
    text-align: center;
  }
  table {
    font-size: .875em;
    &.table-small {
      background: $deep-blue;
      color: white;
      th,
      td {
        padding: .25em;
        text-align: center;
      }
      th {
        font-weight: 600;
        vertical-align: middle;
      }
      td {
        white-space: nowrap;
      }
    }
  }
}

.persistent-header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background: darken($clouds, 5%);
  background: rgba(darken($clouds, 5%), .9);
  border-bottom: 1px solid $silver;
  &:hover {
    background: darken($clouds, 5%);
  }
  h1 {
    font-size: 1.15em;
    margin: 0;
    font-weight: 400;
    .logo {
      color: $black;
      text-shadow: lighten($clouds,3%) 0 1px 0;
      img {
        margin-right: .5em;
        vertical-align: -.95em;
      }
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }
  form,
  select {
    margin: 0;
  }
  select {
    margin-top: .25em;
    width: 6em;
  }
  .container {
    padding: .5em 0;
  }
  .logo,
  .search,
  .year-navigation {
    display: block;
  }
  .logo {
    float: left;
  }
  .search,
  .year-navigation {
    float: right;
  }
  .search {
    margin: .25em .5em 0;
    position: relative;
    width: 570px;
    .dropdown-menu {
      margin: 0 0 0 17px;
    }
    span.icon-search {
      position: absolute;
      color: $silver;
      font-size: 1.5em;
      right: .45em;
      top: .25em;
    }
    input {
      @include border-box;
      padding-right: 2em;
      box-shadow: none;
      border-radius: 2em;
      border: 2px solid $silver;
      font-size: 1.15em;
      height: 2em;
      line-height: 2em;
      width: 100%;
      &:focus {
        box-shadow: none;
        border-color: $blue;
      }
      &.loading {
        background: url(/assets/spinner.gif) no-repeat scroll 99% center;
        background-size: auto 80%;
      }
    }
  }
}
.entity-table {
  border-radius: 0 !important;
  &.table-bordered thead:first-child tr:first-child > th:last-child,
  &.table-bordered tbody:first-child tr:first-child > td:last-child,
  &.table-bordered tbody:first-child tr:first-child > th:last-child,
  &.table-bordered thead:first-child tr:first-child > th:first-child,
  &.table-bordered tbody:first-child tr:first-child > td:first-child,
  &.table-bordered tbody:first-child tr:first-child > th:first-child {
    border-radius: 0 !important;
  }
  .entity-group td {
    background-color: $blue !important;
    border-color: $blue !important;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    a {
      color: white;
      display: block;
    }
  }
  th {
    cursor: pointer;
  }
  .sorting_asc {
    span.icon-sort-by-alphabet-alt {
      display: none;
    }
  }
  .sorting_desc {
    span.icon-sort-by-alphabet {
      display: none;
    }
  }
}
.dataTables_filter {
  border: 1px solid $silver;
  border-bottom: 0;
  padding: 1em .5em .5em;
  input {
    @include border-box;
    padding-right: 2em;
    box-shadow: none;
    border: 1px solid $silver;
    font-size: 1.15em;
    height: 2em;
    line-height: 2em;
    width: 50%;
  }
}

@import 'profile';
@import 'bootstrap_over';
@import 'graph_numbers';
@import 'monitor';
@import 'graphs';
